<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qamapper">
	<!-- 새 질문 저장하기 -->
	<insert id="insert" parameterType="qawriterDto">
		INSERT INTO QA_writer
		(writerNum, writerMainquestion, writerDetailquestion, writerWriter, regdate)
		values(QA_seq.NEXTVAL, #{writerMainquestion}, #{writerDetailquestion}, #{writerWriter}, sysdate)
	</insert>
	
	
	
	<select id="getlist" parameterType="qawriterDto" resultType="qawriterDto">
      SELECT *
      FROM    
         (SELECT result1.*, ROWNUM rnum
         FROM (SELECT writerNum, writerMainquestion, writerDetailquestion, writerWriter, regdate
              FROM QA_writer
              ORDER BY writerNum DESC
              ) result1
         )
      WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
   </select>
	
	<!-- 질문 하나만 출력하기 -->
	<select id="getdata" parameterType="int" resultType="qawriterDto">
		SELECT 
			wrtierNum, wrtierMainquestion, wrtierDetailquestion, wrtierWriter, regdate
		FROM QA_writer
		WHERE wrtierNum=#{writerNum}
	</select>
	
	<!-- 질문 하나 삭제하기 -->
	<delete id="delete" parameterType="int">
		DELETE 
		FROM QA_writer
		WHERE wrtierNum=#{writerNum}		
	</delete>
	
	<!-- 질문 하나 수정하기 -->
	<update id="update" parameterType="qawriterDto">
		UPDATE QA_writer
		SET wrtierMainquestion=#{writerMainquestion}, wrtierDetailquestion=#{writerDetailquestion}
		WHERE wrtierNum=#{writerNum}
	</update>
	
	<!-- 답변글 저장하기 -->
	<insert id="ainsert" parameterType="qaanswerDto">
		INSERT INTO QA_answer
		(answerNum, answerWriter, answerContent, answerRef_num, regdate)
		values( QAnswer_seq.NEXTVAL, '관리자', #{answerContent}, #{answerRef_num},  sysdate)
	</insert>
	
	<!-- 답변글 모두 출력하기 -->
	<select id="agetlist" resultType="qaanswerDto">
		SELECT
			answerRef_num, answerContent, regdate
		FROM QA_answer
	</select>
	
	<!-- 답변글 하나만 출력하기     오류 났을거같아 조심 -->
	<select id="agetdata" parameterType="int" resultType="qaanswerDto">
		SELECT
			answerNum, answerContent, regdate
		FROM QA_answer
		WHERE answerRef_Num=#{writerNum}
	</select>
	
	<!-- 답변글 하나 삭제하기 -->
	<delete id="adelete" parameterType="int">
		DELETE 
		FROM QA_answer
		WHERE answerRef_num=#{answerRef_num}		
	</delete>
	
	<!-- 답변글 하나 수정하기 -->
	<update id="aupdate" parameterType="qaanswerDto">
		UPDATE QA_answer
		SET answerContent=#{answerContent}
		WHERE answerRef_num=#{answerRef_num}
	</update>
	
	<select id="getCount" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM QA_writer
	</select>
	
	
	
</mapper>